<div class="container">
  <form (ngSubmit)="onSubmit()">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      name="searchQuery"
      placeholder="Enter city name"
    />
    <button type="submit">Search</button>
  </form>
</div>

<div class="result-container" *ngIf="allCitiesList.length>0">
  <h2>We found for you:</h2>
  <div class="card-container">
    <div class="card" *ngFor="let city of allCitiesList">
      <div class="card-content">
        <div class="card-header">In the city</div>
        <div class="city-name">{{ city.cityName }}</div>
        <div class="found-results">We found results</div>
        <div class="city-count">{{ city.count }}</div>
        <div class="see-results-btn-container">
          <button class="see-results-btn">See Results</button>
        </div>
      </div>
    </div>
  </div>
</div>
